* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

menu{
	display: inline;
}

menu li a{
	list-style-type: none;
	text-decoration: none;
}

body{
  font-size: 16px; 
}

.black {
   background-color: #000000;
}


aside p {
    
}

h2{
  font-size: 1.2em; 
  font-weight: bold;
  width: 100%;
  text-align:center ; 
  padding-top: 5%; 
}

h1{
    margin-top: 3.5%;
    margin-left: 7.5%;
    border-bottom: 3px solid red;
    width: 50%;
}

/* for sticky footer */

 .about-page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .site-content{
    flex-grow: 1;
  }

footer{
  background-color: black;
  color: #ffffff; 
  text-align: center;
  padding: 2%; 
  width: 96%;
  font-family: 'Lato', sans-serif;
}

main img{
  width: 100%;
  margin: auto;
  display: block;
}

.apple{
  width: 40%; 
}

.spotify{
  width: 25%; 
  padding-bottom: 5%; 
}

.desktop-menu {
  background-color: rgba(0,0,0,0);
}

.nov, .dec{
  width: 200px; 
  height: 45vh; 
  margin:0 auto;
  transition: transform .2s;
  padding: 5% 7% 0 0; 
  margin-left: 15%; 

}

.oct{
  width: 200px; 
  height: 45vh; 
  padding-top: 20%;
  padding-right: 7%; 
    
}


.oct:hover{
  transform: scale(1.5);
}

.nov:hover{
  transform: scale(1.5);
}

.dec:hover{
  transform: scale(1.5);
}

.oct,.nov,.dec{
 margin: auto;
  
}

.row, .column img{
  display: none;
}

.social{
  width: 25%; 
  margin: auto;
}

aside p{
  margin-bottom: 2%;
  text-align: center;
}

figcaption{
  
  font-weight: bold;
  text-align: center;
}

.flex-container article{
        margin: 2%;
        padding: 2%; 
        width: 90%; 
    }

nav ul li{
  display: inline;

}

li a{
  list-style-type: none;
  text-decoration: none;
  color: #C0C0C0;
  font-family: 'Lato', sans-serif;
  margin:2%;
  
}

main video{
  display: none;
}

.hide-image{
  padding-top: 5%; 
}

iframe{
  width: 100%;
  margin: auto;
  display: block
}


@media (min-width: 320px){
	.desktop-menu{
		display: none;
	}
}

@media (min-width:370px){
    h2{
        font-size: 2em; 
    }
}

@media (min-width:600px){
    .oct{
        padding-top: 10%; 
    }
}

@media (min-width: 1024px){
  main video{
    display: block;
    position: fixed;
    width: 100%;
  }
  

inside-page-logo-index{
	display: none;
}

.current {
  text-decoration: underline;
}


  .ml3 {
  font-weight: 900;
  font-size: 3em;
}

  .hamburger{
    display: none;
  }

  .desktop-menu{
    display: block;
    margin-top: 2%;  
    width: 100%;
    text-align: right;
    text-transform: uppercase;
  }  

  .desktop-menu a:hover{
    text-decoration: underline;

  }

  h1{

    width: 15%; 
    margin-left: 5%; 
  }
   
  h2{
  font-size: 2em; 
  font-weight: bold;
  padding-top: 5%; 
  text-align: center;

  }

  header{ 
  width: 100%; 
  font-size: 1.5em;
  text-align: center;
  }

  header .inside-page-logo{
    display: block;
    width: 25%;
    max-width: 180px;
  }

.flex-container{
  display: flex;
  justify-content: center;
  }

.flex-container article{
        margin: 2%;
        padding: 2%; 
        width: 75%; 
    }

    
  img {
    display: none;

  }

  .menu{
    display: none;
  }

  .hamburger{
    display: none;
  }

  .about-header {
    display: flex;
    justify-content: space-between;
  }

  aside img{
  width: 5%; 

  }

  aside p{
  
  font-size: 2em; 
  text-align: center;
  background-color: black;
  color: white;
  height: 15vh; 
  padding-top: 2%; 
  margin-bottom: 2%; 
  }

  .social{
    display: inline;

  }

  .flex{
    display: flex;
  }

  .hide-image{
    display: none;
  }

  .social img{
    width: 8%; 
    display: inline;
    padding-left: 10%; 
    padding-right: 1%; 
  }

  .row, .column img{
  display: block;
  padding-left: 5%;
  padding-top: 5%;
}

.oct{
  margin-top: 2%; 
}

.oct, .nov, .dec{
  width: 200px; 
  height: 45vh; 
  transition: transform .2s;
 }
.dec {
padding-bottom: 5%;
    }

iframe{
    width: 80%; 
    display: block;
    margin: auto;
    min-height:400px;
    padding-bottom: 3%; 
}

    figcaption{
        font-size: 1.2em; 
        font-weight: bold;
        text-align: center;
    }

}

/*LIGHTBOX*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 20%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* *********hamburger menu styles******* */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* *********hamburger menu styles******* */
